.system-configuration{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.generate-ticket{
    width: 30%;
    display: flex;
    justify-content: center;
}
.generate-ticket-content{
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid gray;
    box-shadow: 2px 1px 3px 0px gray;
    position: relative;
}
